.content {
    text-align: center;
}

.pokemons {
    display: flex;
}

.time {
    background-color: #f3edcd;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
