.field {
    width: 300px;
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 200px auto;
    background-color: #0064d6;
    padding-bottom: 30px;
    border-radius: 10px;
}
