/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    background: url("https://www.teahub.io/photos/full/68-683557_alola-pokemon-regions-map.jpg");
    background-size: cover;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: fit-content;
}
